.days-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeee;
}

.days-item {
    width: 14.2857143%;
    height: 80px;
    color: #cbcbcb;
    border-radius: 3px;
    padding: 5px;
}

.days-item:hover {
    cursor: pointer;
    background-color: #e3e2e2;
}

.days-item.active {
    color: #65656b;
}

.days-item.today {
    background-color: #2cbc9d;
    color: #ffffff;
}

.days-item .text {
    text-align: right;
}

.days-item .event {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}

.days-item .pop-over {
    background-color: #2cbc9d;
}

.popover-inner {
    background: #555454;
}

.popover .arrow::after {
    border-bottom-color: #555454 !important;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn-container {
    justify-content: center;
    display: flex;
}
