.days-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeee;
}

.days-item {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 14.2857143%;
    color: #cbcbcb;
    border-radius: 3px;
}

.days-item:hover {
    cursor: pointer;
    background-color: #e3e2e2;
}

.days-item.active {
    color: #65656b;
}

.days-item.today {
    background-color: #2cbc9d;
    color: #ffffff;
}
