.container {
    background-color: #02be9c;
    color: #ffffff;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.arrow {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.center {
    flex: 7;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
